
body 
{
  background-color: #000000;
  color: #ffa500;
  text-align: center;
}

h1
{
  font-size: min(40px, 3vh);
}

p
{
  font-size: min(20px, 2vh);
}

h2 
{
    font-size: min(30px, 2vh);
    font-weight: normal;
    font-style: italic;
}

.main
{
  position: absolute;
  width: 95vw;
  height: 40vh;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-60%);
}

.header
{
  font-family: "Times New Roman", Times, serif;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
    border-top: 2px solid #ffa500;
    border-bottom: 2px solid #ffa500;
}

.footer 
{
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #9c9c9c; 
    border-top: 2px solid #ffa500;
    border-bottom: 2px solid #ffa500;
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
